@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@1&display=swap');
@font-face {
  font-family: Hacked-KerX;
  src: url(./assets/fonts/Hacked-KerX.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
  font-family: 'Ubuntu Mono', monospace;
}

*::-webkit-scrollbar{
  width: 0;
}

.font-hack{
  font-family: Hacked-KerX;
}

.font-hack > *{
  font-family: Hacked-KerX;
}

.p3d {
  transform-style: preserve-3d;
}

.bfvh{
  backface-visibility: hidden;
}

.rotateY{
  transform: rotateY(180deg);
}

@keyframes circle1 {
  from {
    width: 3rem;
    height: 3rem;
  } to {
    width: 5rem;
    height: 5rem;
  }
}

@keyframes circle2 {
  from {
    width: 5rem;
    height: 5rem;
  } to {
    width: 8rem;
    height: 8rem;
  }
}

.circle-animate-red-1{
  border: 1px solid red;
  box-shadow: 0 0 1em red;
  border-radius: 999999px;
  animation: circle1 2.5s linear infinite;
  background: transparent;
}

.circle-animate-red-2{
  border: 1px solid red;
  box-shadow: 0 0 1em red;
  border-radius: 999999px;
  animation: circle2 2.5s linear infinite;
  background: transparent;
}

.circle-animate-green-1{
  border: 1px solid greenyellow;
  box-shadow: 0 0 1em greenyellow;
  border-radius: 999999px;
  animation: circle1 2.5s linear infinite;
  background: transparent;
}

.circle-animate-green-2{
  border: 1px solid greenyellow;
  box-shadow: 0 0 1em greenyellow;
  border-radius: 999999px;
  animation: circle2 2.5s linear infinite;
  background: transparent;
}